@import '../../style/vars.scss';

.MyTextInput {
  min-height: 76px;
}

.MyTextInput__container {
  position: relative;
}

.MyTextInput__input {
  padding: 12px;
  padding-left: 40px;
  width: 100%;

  font-size: 18px;
  background-color: none;

  border: none;
  border-bottom: 1px solid map-get($BgColors, 'secondary');

  transition: border map-get($effect, 'timer') map-get($effect, 'function');

  &:focus {
    outline: none;
    border-bottom: 1px solid map-get($BgColors, 'blue');
  }

  &:focus ~ svg {
    fill: map-get($BgColors, 'blue');
  }

  &:invalid {
    border-bottom: 1px solid map-get($BgColors, 'error');
    box-shadow: none;
  }
}

.MyTextInput__ShowPassword {
  position: absolute;
  top: 50%;
  right: 16px;

  color: map-get($BgColors, 'secondary');

  transition: color map-get($effect, 'timer') map-get($effect, 'function');
  transform: translateY(-50%);

  cursor: pointer;
  z-index: 10000;

  &:hover {
    color: map-get($BgColors, 'blue');
  }
}

.MyTextInput__icon {
  position: absolute;
  left: 8px;
  top: 50%;

  fill: map-get($BgColors, 'secondary');

  transition: fill map-get($effect, 'timer') map-get($effect, 'function');
  transform: translateY(-50%);
}

.MyTextInput__error {
  color: map-get($textColors, 'error');
}

.MyTextInput__children {
  position: absolute;
  width: 100%;
}
