@import '../../style/vars.scss';

.MyTextInput {
  min-height: 82px;
}

.MyTextInput__container {
  position: relative;
}

.MyTextInput__input {
  padding: 12px;
  padding-left: 40px;
  width: 100%;

  font-size: 18px;
  background-color: none;

  border: none;
  border-bottom: 1px solid map-get($BgColors, 'secondary');

  transition: border 250ms ease-in-out;

  &:focus {
    outline: none;

    border-bottom: 1px solid #4a56e2;
  }

  &:focus ~ svg {
    fill: #4a56e2;
  }

  &:invalid {
    border-bottom: 2px solid #ff7d87;
    box-shadow: none;
  }
}

.MyTextInput__icon {
  position: absolute;
  left: 8px;
  top: 50%;

  fill: map-get($BgColors, 'secondary');
  transition: fill 250ms ease-in-out;

  transform: translateY(-50%);
}

.MyTextInput__error {
  color: red;
}
.MyTextInput__children {
  position: absolute;
  width: 100%;
}
