@import '../../style/vars.scss';
@import '../../style/mixins.scss';

.FormContainer {
  width: 100%;
  max-width: 475px;
  padding: 30px 50px 30px;

  background-color: map-get($BgColors, 'primary');

  border-radius: 20px;
}

.FormContainer__container {
  @include flex-center;
  margin-bottom: 12px;
}
.registrationPage__icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.FormContainer__title {
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.5;
  font-size: 30px;
  color: map-get($textColors, 'primary');
}

@media screen and (min-width: map-get($breakpoints, 'tablet')) {
  .registrationPage__icon {
    width: 40px;
    height: 40px;
  }
}
