.FormContainer {
  width: 100%;
  max-width: 475px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 12px;
  padding-top: 12px;
}

.FormContainer__container {
  padding: 30px 50px 30px;
  margin-bottom: 12px;

  background-color: var(--bgColorPrimaryLight);
  border-radius: 20px;
}

.error {
  font-size: 16px;
  text-align: right;
  color: var(--textColorRed);
}

@media screen and (min-width: 480px) {
  .menu {
    justify-content: right;
  }
}
