.table {
  max-width: 715px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .table {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    margin-top: 42px;
  }
}

.scrollTableBody {
  height: 40vh;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .scrollTableBody {
    height: 70vh;
  }
}

.scrollTableBody tr {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.table__date {
  width: 120px;
}

.table__type {
  width: 60px;
}

.table__comment {
  width: 130px;
  height: 10px;
  overflow: overlay;

  text-align: left;
  white-space: nowrap;

  // background-color: red;
}

.table__sum {
  text-align: right;
}

.table__balance {
  text-align: right;
}

.table__btn {
  width: 60px;
}

.table__header {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
}

.scrollTable table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.scrollTable table th {
  padding: 15px 20px;

  font-size: 18px;
  background-color: var(--primary-back-color);
}

.scrollTable table th:first-child {
  width: 120px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.scrollTable table th:last-child {
  width: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.scrollTable table th:nth-child(2) {
  width: 60px;
}

.scrollTable table td {
  padding: 10px 15px;
  font-size: 16px;
}

/* Стилі для скрола */
td::-webkit-scrollbar {
  width: 4px;
}
tr::-webkit-scrollbar {
  width: 4px;
}

td::-webkit-scrollbar-thumb {
  background-color: green;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Мобілка */

td.positive {
  color: rgb(36, 204, 167);
}

td.negative {
  color: rgb(255, 102, 150);
}

.scrollTableBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0 auto;
  background-color: #6e78e8;
  opacity: 0.9;
  cursor: pointer;
}

.scrollTableBtn:hover,
.scrollTableBtn:focus {
  opacity: 1;
}
