.main {
  width: 100vw;
  height: 100vh;

  background-image: url('../../images/leftElipse.png'),
    url('../../images/rightElipse.png');
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}

.section {
  height: 100%;
  backdrop-filter: blur(50px);
}

.block1__item1 {
  display: flex;
  flex-direction: column;
  gap: 28px;

  padding: 20px 20px 32px 20px;
}

@media screen and (min-width: 768px) {
  .block1 {
    display: flex;
  }

  .block1__item1 {
    padding: 30px 34px 20px 0px;
    width: 50%;
  }

  .block1__item2 {
    padding: 30px 10px 20px 0px;
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: flex;
  }

  .block1 {
    flex-direction: column;
    padding: 40px 60px 60px 0px;
    width: 37%;
    height: 100vh;

    border-right: 1px solid #e7e5f2;
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.6);
  }

  .block2 {
    padding: 40px 0px 30px 30px;

    width: 63%;
  }

  .block1__item1 {
    padding: 30px 0px 20px 0px;
    width: 100%;
  }

  .block1__item2 {
    padding-top: 32px;
    padding: 30px 0px 20px 0px;
    width: 100%;
  }
}
