@import '../../style/vars.scss';

.label {
  position: relative;

  display: block;
  min-height: 45px;
}

.input {
  padding: 12px 18px 6px 12px;
  padding-left: 40px;
  width: 100%;

  font-size: 18px;
  background-color: none;

  border: none;
  border-bottom: 1px solid map-get($textColors, 'gray');

  transition: border map-get($effect, 'timer') map-get($effect, 'function');

  &:focus {
    outline: none;
    border-bottom: 1px solid map-get($BgColors, 'ultramarine');
  }

  &:focus ~ svg {
    fill: map-get($BgColors, 'ultramarine');
  }

  &:invalid {
    border-bottom: 1px solid map-get($BgColors, 'error');
    box-shadow: none;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 8px;

  width: 24px;
  height: 24px;

  fill: map-get($textColors, 'gray');

  transform: translateY(-50%);
}

.passwordIcon {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);
}

.fjksdhfjsdf {
  width: 40px;
  height: 40px;
}

.showIcon {
  color: map-get($textColors, 'gray');
}

.error {
  color: map-get($textColors, 'error');
}

.children {
  position: absolute;
  width: 100%;
}

.error {
  height: 24px;
}
