.operations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 320px);
  overflow-x: hidden;
}

.operations__listAdd {
  padding: 6px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 0/5;
  color: var(--textColorBlack);

  background-color: var(--bgColorPrimaryLight);
  background-image: linear-gradient(
    to right,
    var(--textColorGreen) 2%,
    transparent 2%,
    transparent
  );
  border-radius: 16px;

  & > li:not(:last-child) {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;

    border-bottom: 1px solid var(--bgColorSecondaryLight);
  }

  & p:first-child {
    font-weight: 700;
    font-size: 18px;

    color: var(--textColorBlack);
  }
}

.operations__listRem {
  padding: 6px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 0/5;
  color: var(--textColorBlack);

  background-color: var(--bgColorPrimaryLight);
  background-image: linear-gradient(
    to right,
    var(--textColorRed) 2%,
    transparent 2%,
    transparent
  );
  border-radius: 16px;

  & > li:not(:last-child) {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;

    border-bottom: 1px solid var(--bgColorSecondaryLight);
  }

  & p:first-child {
    font-weight: 700;
    font-size: 18px;

    color: var(--textColorBlack);
  }
}

.operations__balanceAdd {
  font-weight: 700;
  color: var(--textColorRed);
}

.operations__balanceRem {
  font-weight: 700;
  color: var(--textColorGreen);
}

.operation__btn {
  display: block;
  margin: 12px auto;
  padding: 8px 32px;

  font-size: 18px;
  color: var(--bgColorPrimaryLight);

  border-radius: 10px;
  border: none;

  background-color: var(--bgColorBlue);
  transform: scaleY(1);
  opacity: 0.9;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
