@import '../../style/vars.scss';
@import '../../style/mixins.scss';

.RegisterForm_btn {
  display: block;
  max-width: 280px;
  width: 100%;
  min-height: 50px;

  margin: 0 auto;

  border: 0;
  align-self: center;
  background: #24cca7;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--primary-font);
  letter-spacing: 0.1em;
  font-size: 18px;
  line-height: 1.5;
  cursor: pointer;
}

@media screen and (max-width: 1247px) {
  .RegisterForm_btn {
    max-width: 300px;
  }
}
