.form {
  display: flex;
  flex-direction: column;
}

.form__button {
  font-size: 16px;

  background-color: var(--bgColorBlue) !important;
  background-color: red;
}

.form__link {
  margin: 14px 0 6px auto;

  font-size: 16px;
}
