.progress {
  position: absolute;
  height: 4px;
  background-color: #e5f1ef;
  // box-shadow: 0px 1px 8px rgba(36, 204, 167, 0.5);
  border-radius: 5px;
  width: 409px;
  bottom: 293px;
  left: 0;

  z-index: 100;
}
.progress_bar {
  height: 4px;
  background-color: #24cca7;
  border-radius: 5px;
}
