.registrationPage {
  height: 100vh;
  background-image: url('./images/bkg-img-mac.png'),
    url('./images/left-elipse-mac.png'), url('./images/right-elipse-mac.png'),
    linear-gradient(90deg, #e7eaf2 40%, #f1f3f8 0);
  background-repeat: no-repeat;
  background-position: left 76px center, left 0 bottom 0, top 0 right 0,
    center center;
  background-size: 452px, 444px, 602px, cover;
  display: relative;
}

.title {
  font-family: var(--secondary-font);
  color: var(--secondary-text-color);
  font-size: 30px;
  line-height: 1.5;
  position: absolute;
  left: 220px;
  top: calc(50% + 240px);
}

@media screen and (max-width: 1247px) {
  .registration_page {
    background-color: #e7eaf2;
    background-image: url('./images/bkg-img-tab.png'),
      url('./images/left-elipse-mac.png'), url('./images/right-elipse-mac.png');
    background-repeat: no-repeat;
    background-position: calc(50% - 110px) 60px, left 0 bottom 0, top 0 right 0;
    background-size: 273px, 480px, 369px;
  }
  .title {
    color: var(--primary-text-color);
    position: absolute;
    top: 147px;
    left: calc(50% + 50px);
  }
}

@media screen and (max-width: 767px) {
  .registration_page {
    background: none;
  }
  .title {
    display: none;
  }
}
/*asdasd sad asdasd asdd */

.registrationPage__form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 650px 62px 66px 62px;

  background-color: #fff;
  border-radius: 20px;

  transform: translateY(-50%);
}

@media screen and (min-width: 480px) {
  .registrationPage__form {
    top: 50%;
    right: 50%;

    width: 533px;
    height: 616px;

    transform: translate(-50%, -50%);
  }
}

// .registrationPage__wrapper__title {
//   display: flex;
//   gap: 20px;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 60px;
// }

// .registrationPage__img {
//   width: 40px;
//   height: 40px;
// }

// .registrationPage__form__title {
//   font-family: var(--secondary-font);
//   color: var(--primary-text-color);
//   font-weight: 700;
//   line-height: 1.5;
//   font-size: 30px;
// }
