@import '../../style/vars.scss';

.header {
  background-color: map-get($BgColors, 'primary');
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 0;
}

.logo__icon {
  margin-right: 16px;
  width: 30px;
  height: 30px;
}

.logo__text {
  display: block;

  font-size: 25px;
  font-family: Poppins;
  line-height: 1;
  font-weight: 700;
  color: map-get($textColors, 'primary');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__name {
  position: relative;
  display: block;
  padding: 0 12px 0 0;

  font-size: 18px;
  line-height: 1;
  color: map-get($textColors, 'gray');
  text-transform: capitalize;
}

.menu__exitIcon {
  width: 18px;
  height: 18px;

  fill: map-get($textColors, 'gray');

  transition: fill map-get($effect, 'timer') map-get($effect, 'function'),
    transform map-get($effect, 'timer') map-get($effect, 'function');

  &:hover {
    fill: map-get($textColors, 'blue');
    transform: scale(1.05);
  }
}

@media screen and (min-width: map-get($breakpoints, 'tablet')) {
  .logo {
    align-items: baseline;
  }

  .logo__icon {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }

  .logo__text {
    font-size: 30px;
    line-height: 1.5;
  }

  .menu__name {
    margin-right: 24px;
    padding-right: 0;
  }

  .menu__name::after {
    content: '';
    position: absolute;
    right: -12px;
    top: 50%;

    width: 1px;
    height: 30px;
    background-color: map-get($textColors, 'gray');

    transform: translateY(-50%);
  }
}
