:root {
  --bgColorPrimaryLight: #ffffff;
  --bgColorSecondaryLight: #e0e0e0;
  --bgColorThreeLight: rgba(255, 255, 255, 0.2);
  --bgColorShadowLight: 'transparent';
  --bgColorModalLight: rgba(0, 0, 0, 0.3);
  --bgColorBlue: rgba(74, 86, 226, 1);
  --bgColorGreen: rgba(36, 204, 167, 1);

  --bgColorPrimaryDark: #212121;
  --bgColorSecondaryDark: #424242;
  --bgColorShadowDark: rgba(0, 0, 0, 0.4);
  --bgColorModalDark: rgba(0, 0, 0, 0.9);

  --bgColorBlack: #000;
  --bgColorModal: #e0e0e0;

  --textColorWhite: #ffffff;
  --textColorBlack: #000;
  --textColorBlue: rgba(74, 86, 226, 1);
  --textColorGray: rgba(189, 189, 189, 1);
  --textColorGreen: rgba(36, 204, 167, 1);
  --textColorGreenHover: rgba(10, 180, 150, 1);
  --textColorRed: rgba(255, 101, 150, 1);

  --effectTimer: 250ms;
  --effectLongTimer: 450ms;
  --effectFunction: ease-in-out;

  --primary-font: 'Circe';
  --secondary-font: 'Poppins';
}

$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'computer': 1280px,
);

$effect: (
  'timer': 250ms,
  'function': ease-in-out,
);
