@import '../../style/vars.scss';

.RegisterPage {
  height: 100vh;
  background-color: map-get($BgColors, 'primary');
}

.RegisterPage__title {
  display: none;
}

.RegisterPage__modal {
  position: absolute;
  right: 50%;

  width: 100%;
  max-width: 550px;

  transform: translateX(50%);
}

@media screen and (min-width: 480px) {
  .RegisterPage {
    background-color: map-get($BgColors, 'secondary');
    background-image: url('../../images/leftElipse.png'),
      url('../../images/rightElipse.png');
    background-repeat: no-repeat;
    background-position: left 0 bottom 0, top 0 right 0;
    background-size: 475px, 365px;
  }
  .RegisterPage__modal {
    top: 50%;
    transform: translate(50%, -50%);
  }
}

@media screen and (min-width: 767px) {
  .RegisterPage {
    background-image: url('../../images/bkgTab.png'),
      url('../../images/leftElipse.png'), url('../../images/rightElipse.png');
    background-repeat: no-repeat;
    background-position: calc(50% - 110px) 60px, left 0 bottom 0, top 0 right 0;
    background-size: 280px, 490px, 375px;
  }

  .RegisterPage__title {
    display: block;
    position: absolute;
    top: 190px;
    right: 140px;

    font-family: Poppins;
    font-style: Regular;
    font-size: 30px;
    line-height: 45px;
    color: map-get($textColors, 'primary');
  }

  .RegisterPage__modal {
    top: 360px;
    transform: translate(50%);
  }
}

@media screen and (min-width: 1280px) {
  .RegisterPage {
    background-image: url('../../images/leftElipse.png'),
      url('../../images/rightElipse.png'),
      linear-gradient(90deg, #e7eaf2 40%, #f1f3f8 0);
    background-repeat: no-repeat;
    background-position: left 0 bottom 0, top 0 right 0, center center;
    background-size: 450px, 575px, cover;
  }

  .RegisterPage__title {
    top: 50%;
    left: 60px;

    transform: translateY(250px);
  }

  .RegisterPage__modal {
    top: 50%;
    right: 90px;
    transform: translateX(0);
    transform: translateY(-50%);
  }

  .RegisterPage__img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 450px;
    height: 450px;

    background-image: url('../../images/bkgMac.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 450px, cover;

    transform: translateY(-50%);
  }
}
