.selector__light,
.selector__dark {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;

  max-width: 180px;

  border: 1px solid var(--textColorBlue);
  border-radius: 10px;
  overflow: hidden;

  z-index: 0;
}

.activeTitle__light,
.activeTitle__dark,
.disableTitle__light,
.disableTitle__dark {
  margin: 0;
  padding: 4px 0px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--textColorBlack);
  cursor: pointer;

  z-index: 10;
  transition: color var(--effectLongTimer) var(--effectFunction);
}

.activeTitle__light,
.activeTitle__dark,
.disableTitle__dark {
  color: var(--textColorWhite);
}

.select__input {
  display: none;
}

.backGroungHorizontal__light,
.backGroungHorizontal__dark {
  display: none;
}

@media screen and (min-width: 480px) {
  .selector__light,
  .selector__dark {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    max-width: 250px;

    border-radius: 30px;
    overflow: hidden;

    z-index: 0;
  }

  .backGroungHorizontal__light,
  .backGroungHorizontal__dark {
    position: absolute;
    display: block;
    height: 36px;

    background-color: var(--bgColorBlue);
    border-radius: 30px;

    transition: all var(--effectTimer) var(--effectFunction);

    z-index: -1;
  }

  .backGroungHorizontal__dark {
    background-color: var(--bgColorBlue);
  }
}

@media screen and (min-width: 768px) {
  .selector__light,
  .selector__dark {
    flex-direction: row;
    margin: 0 auto 0 0;
  }
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px 0 6px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  overflow: hidden;
}
