.list {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 80px 20px;
  width: 100%;

  color: var(--bgColorPrimaryLight);

  background-color: var(--bgColorBlue);
  background-image: url('./images/wave.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 30px;

  overflow: hidden;
}

.list__item {
  display: flex;
  flex-direction: column;
  gap: 4px;

  text-align: center;
}

.list__value {
  font-size: 16px;

  &:first-child {
    margin-bottom: 16px;

    font-size: 18px;
    font-weight: 700;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 25%;

  background-color: var(--bgColorThreeLight);
}

@media screen and (max-width: 768px) {
  .container {
    height: calc(100vh - 317px);
  }
}

@media screen and (max-width: 1279px) {
  .container {
    margin-right: 10px;
    width: 350px;
  }
}
