.scrollTableBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0 auto;
  background-color: var(--bgColorBlue);
  opacity: 0.9;
  cursor: pointer;
}

.gridHeader {
  font-size: 17px;
  font-weight: 600;

  background-color: var(--bgColorPrimaryLight);
}

.redCell {
  color: rgb(255, 102, 150);
}

.greenCell {
  color: rgb(36, 204, 167);
}
