.balance {
  padding: 10px 30px;
  width: 100%;

  background-color: var(--bgColorPrimaryLight);
  border-radius: 30px;
}

.balance__title {
  display: block;

  font-weight: 700;
  font-size: 12px;
  color: var(--textColorGray);
  text-transform: uppercase;
}

.balance__sum {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
