.btnAdd {
  position: absolute;
  bottom: 100px;
  right: 100px;
  border: none;

  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.btnAdd:focus {
  border: none;
  outline: none;
}

@media screen and (min-width: 767px) {
  .btnAdd {
    bottom: 100px;
    right: 100px;
  }
}
