.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 0px 0 16px;

  border: 1px solid var(--textColorBlue);
  border-radius: 30px;
}

.user {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

  &::after {
    content: '';
    position: absolute;
    right: 55px;
    top: 50%;

    width: 1px;
    height: 30px;

    background-color: var(--textColorBlue);

    transform: translateY(-50%);
  }
}

.buttonLogout {
  display: flex;
  align-items: center;
  padding: 5px 16px 4px 12px;
  border-radius: 20px;

  background: none;
  border: none;

  cursor: pointer;

  transition: background-color var(--effectTimer) var(--effectFunction);

  &:hover,
  &:focus {
    background-color: var(--textColorBlue);
  }

  &:hover .icon,
  &:focus .icon {
    color: var(--textColorWhite) !important;
  }
}

.icon {
  transition: color var(--effectTimer) var(--effectFunction);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--bgColorModalLight);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px 40px 30px 40px;

  font-size: 18px;

  background-color: var(--bgColorPrimaryLight) !important;
  border-radius: 10px;
  z-index: 100;

  transform: translate(-50%, -50%);
}

.text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.button,
.buttonExit {
  width: 100%;

  font-size: 16px;

  border-radius: 20px;
}

.button {
  color: var(--textColorBlue) !important;

  border: 1px solid var(--textColorBlue) !important;

  &:hover,
  &:focus {
    color: var(--textColorBlue) !important;
    border: 1px solid var(--textColorBlue) !important;
  }
}

.buttonExit {
  color: var(--textColorWhite) !important;

  background-color: var(--textColorGreen) !important;

  &:hover,
  &:focus {
    background-color: var(--textColorGreenHover) !important;
  }
}
